@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using BedeThirteen.Data.Models
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>


    <form class="form-signin col-10 col-md-4 card mx-auto" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

        <h1 class="h3 my-3 font-weight-normal text-center">Please sign in</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="sr-only"></label>
            <input id="inputEmail" asp-for="Email" class="form-control" placeholder="Email address" required autofocus />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="sr-only"></label>
            <input id="inputPassword" asp-for="Password" class="form-control" placeholder="Password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="checkbox mb-3">
            <label asp-for="RememberMe" class="text-black">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
        </div>
        <div class="form-group">
            <p>
                <a asp-action="ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
            </p>
        </div>
    </form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
