@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
{
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a asp-area="" asp-controller="Games" asp-action="GameOne" class="btn btn-dark">
                <img class="d-block w-100" src="~/images/slider/game1.jpg" alt="GameOne">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slot game caption...</h5>
                    <p>4x3 description...</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a asp-area="" asp-controller="Games" asp-action="GameTwo" class="btn btn-dark">
                <img class="d-block w-100" src="~/images/slider/game2.jpg" alt="GameTwo">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slot game caption...</h5>
                    <p>5x5 description...</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a asp-area="" asp-controller="Games" asp-action="GameThree" class="btn btn-dark">
                <img class="d-block w-100" src="~/images/slider/game3.jpg" alt="GameThree">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slot game caption...</h5>
                    <p>5x8 description...</p>
                </div>
            </a>
        </div>
    </div>
}
else
{
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="#carouselExampleIndicators" role="button" data-slide="next">
                <img class="d-block w-100" src="~/images/slider/game1.jpg" alt="GameOne">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slot game caption...</h5>
                    <p>4x3 description...</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#carouselExampleIndicators" role="button" data-slide="next">
                <img class="d-block w-100" src="~/images/slider/game2.jpg" alt="GameTwo">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slot game caption...</h5>
                    <p>5x5 description...</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#carouselExampleIndicators" role="button" data-slide="next">
                <img class="d-block w-100" src="~/images/slider/game3.jpg" alt="GameThree">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slot game caption...</h5>
                    <p>5x8 description...</p>
                </div>
            </a>
        </div>
    </div>
}