@model TransactionsResultViewModel
@{
    ViewData["Title"] = "Search";
}

<h2>Transactions</h2>
<body>
    <div class="row">
        <div class="col-lg-1">
            <label for="pageSizeDdl">Page size</label>
            <select id="pageSizeDdl" class="custom-select">
                <option value="5">5</option>
                <option selected value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
            </select>
        </div>

        <div class="col-lg-2">
            <label for="sortByDdl">Sort by</label>
            <select id="sortByDdl" class="custom-select">
                <option value="date">Date Ascending</option>
                <option selected value="date_desc">Date Descenging</option>
                <option value="amount">Amount Ascending</option>
                <option value="amount_desc">Amount Descending</option>
            </select>
        </div>

        <div class="col-lg-2 mr-3">
            <label for="filterByDdl">Filter by</label>
            <select id="filterByDdl" class="custom-select">
                <option selected value="all">All</option>
                <option value="date">Date</option>
                <option value="amount">Amount</option>
                <option value="type">Type</option>
                @if (User.IsInRole("Admin"))
                {
                    <option value="user">User</option>
                }
            </select>
        </div>

        <div id="output" class="col-lg-6">
            <label>Criteria</label>
            <div class="row">
                <input id="all" placeholder="All data" class="form-control criteria all col-lg-6" disabled />
            </div>

            <div class="row">
                <input id="date" placeholder="From" type='date' class="form-control criteria date col-lg-5 mr-4" style="display: none;" />
                <input id="dateA" placeholder="To" type='date' class="form-control criteria date col-lg-5" style="display: none;" />
            </div>
            <div class="row">
                <input id="amount" placeholder="From" class="form-control criteria amount col-lg-5 mr-4" style="display: none;" />
                <input id="amountA" placeholder="To" class="form-control criteria amount col-lg-5" style="display: none;" />
            </div>
            <div class="row">

                <input id="user" placeholder="Name" class="form-control criteria user col-lg-6" style="display: none;" />
            </div>
            <div class="row">

                <select id="type" class="custom-select form-control criteria col-lg-6" style="display: none;">
                    <option selected value="deposit">Deposit</option>
                    <option value="withdraw">Withdraw</option>
                    <option value="stake">Stake</option>
                    <option value="win">Win</option>
                </select>
            </div>
            <div class="offset-lg-11">
                <button id="searchBtn" class="btn btn-info ml-2">
                    Search
                </button>
            </div>
        </div>

    </div>
    <div id="searchResult" class="row">
        <partial name="_SearchResultPartial" model="@Model">
    </div>
</body>

@section Scripts {
    <script src="~/js/search.js"></script>
}