@model BedeThirteen.App.Models.ComponentViewModels.BalanceViewModel
<ul class="nav navbar-nav navbar-right">
    <li class="btn-group">
        <a class="btn btn-outline-light" title="Deposit">@Model.Balance @Model.Currency</a>
    </li>
</ul>
