@model BedeThirteen.App.Models.ComponentViewModels.BalanceViewModel
<ul class="nav navbar-nav navbar-right">
    <li class="btn-group">
        <button class="btn btn-outline-light mr-2" id="balanceValue" title="Deposit">@Model.Balance @Model.Currency</button>
    </li>
</ul>
