body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

    body::-webkit-scrollbar {
        display: none;
    }

#gameBackgroundContainer {
    background-image: url('../images/slot/slotBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

/*html, body {
    height: calc(100vh - 70px);
}*/

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#myModal {
    opacity: 0.90;
    filter: alpha(opacity=90);
}

.bg-primary {
    background-color: #b72727 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #b72727 !important;
    color: black !important;
    background-color: white !important;
}


.nav-item {
    color: white !important;
    background-color: #b72727 !important;
}

    .nav-item:hover > a {
        color: black !important;
    }

    .nav-item:active > a {
        color: black !important;
    }

.btn-primary, nav-link {
    color: white;
    background-color: #b72727;
    border-color: #b72727;
}

    .btn-primary:hover, .nav-link:hover {
        color: black;
        background-color: white;
        border-color: #b72727;
    }

    .btn-primary:active, .nav-link:active {
        color: black !important;
        background-color: white !important;
        border-color: #b72727;
    }

.dropdown-item:active {
    color: black;
    background-color: white;
}


a {
    color: #b72727;
}

    a:hover {
        color: #b72727;
    }

p, h1, h2, h3, h4, h5, h6 {
    color: white;
}

label, #navAnchor {
    color: white;
}

opition:hover {
    background-color: #b72727;
}

.text-black {
    color: black;
}

.text-red {
    color: #b72727;
}

.alert {
    margin-bottom: 0em;
}

#ui-id-1, #ui-id-2 {
    width: 21% !important;
}

.slotImg {
    
    background-color: transparent;
    border: none;
}

.pagination {
    flex-wrap: wrap;
    flex-direction: row;
}

.page-item:last-child, .page-item:first-child, .page-link {
    border-top-left-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-40 {
    width: 40%;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    background-color: #212529;
}
