
<div class="container pt-3">
    <div class="row">
        <div class="col  ">
            <a asp-controller="Home" asp-action="Transactions" class=" pt-2 btn btn-success">Transactions </a>

        </div>
        <div class="col ">
            <a asp-controller="Home" asp-action="Transactions" class="  pt-2 btn btn-dark">Admin Privileges</a>

        </div>
    </div>
     
</div>