@model IEnumerable<TransactionViewModel>

@{
    ViewData["Title"] = "Transactions";
}

<h2>Transactions</h2>

<div class="table">
    <div class="row text-red ">
        @*<th>
                     <label class="text-hide">Id</label>
            </th>*@
        <div class="col-lg-2">
            <button id="dateBtn" value="date" class="button-link">Date</button>
        </div>
        <div class="col-lg-2">
            <button id="amountBtn" value="amount" class="button-link">Amount</button>
        </div>
        <div class="col-lg-2">Type</div>
        <div class="col-lg-3">Description</div>
        <div class="col-lg-3">User</div>
    </div>
    <div id="resultsDiv" class="text-white">
        <partial name="_TransactionsResultPartial" />
    </div>
</div>

